#userTitle {
    display: flex;
}

#profileTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profileAvatar {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

#userPseudo {
    line-height: 2;
}

li {
    list-style-type: none;
}