/* general */

html,
body {
    width: 100%;
}

h1 {
    text-align: center;
}

input[search] {}


/*colors*/

.bbb {
    background-color: #2d2a32;
}

.bb {
    background-color: #b5d6b2;
}

.wb {
    background-color: #fdfefd;
}

.bcb {
    background-color: #fffacc;
}

.bfb {
    background-color: #ffefbd;
}

.bbt {
    color: #2D2A32;
}

.bt {
    color: #b5d6b2;
}

.wt {
    color: #fdfefd;
}

.bct {
    color: #fffacc;
}

.bft {
    color: #ffefbd;
}


/*ids*/

#TOPTOPBAR {
    background-color: #2D2A32;
    color: #FFEFBD;
}

#BACKTOPBAR {
    background-color: #FFEFBD;
    color: #FFEFBD;
}

#TOPBARLIST {
    vertical-align: middle;
    align-items: center;
}

#LOGO {
    height: 40px;
    width: 40px;
}

#FULLPAGE {}

#LEFTBAR {}

#MIDDLE {
    width: 68%;
}

#POSTTOPTEXT {
    font-weight: bold;
}

#PUBLISHER {
    background-color: #2D2A32;
    color: white;
    line-height: 0.2;
    padding-top: 5px;
    padding-bottom: 5px;
}

#BUTTONPUB {
    height: 40px !important;
    width: 40px !important;
}

#TIMELINE {}

#RIGHTBAR {}

.fullpost {
    background-color: #fffacc;
    align-content: center;
}

.postcontent {
    font-size: 0.7rem;
}


/*	MESSAGERIE: ;*/

#FULLMESSAGEFEED {
    width: 68%;
}


/* classes */

.messagegroup {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: lightyellow;
}

.sidebar {
    padding-left: 1%;
    padding-right: 1%;
}

.sidebarlink {
    max-width: 80px;
    max-height: auto;
    min-width: 80px;
    min-height: auto;
}

.sidebarlink :hover {
    color: #434DFF;
    cursor: pointer;
    -webkit-transition: color 0.1s ease-out;
    -moz-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}

.hiddenwithouthover {
    display: none;
}

.hiddenwithouthover .button:hover {
    display: contents;
}

.imgplustext {
    display: inline;
}

.pponlist {
    margin: 0px 10px 0px 0px;
}

.spacer {
    padding-top: 80px;
}

.lilspacer {
    padding-top: 15px;
}

.void {}

.inscriptionitem {}

#INSCRIPTIONCENTER {
    background-color: #FFEFBD;
    color: #2D2A32;
    border-radius: 40px;
}


/* -----------------------
 stylesheet par chanilia 
----------------------- */

body {
    font-family: Tahoma, Geneva, sans-serif;
    color: #2d2a32;
    background-color: #2d2a32;
    background-size: cover;
}

.signin {
    background: #b5d6b2;
    padding: 40px;
    width: 230px;
    margin: auto;
    margin-top: 90px;
    height: 300px;
    margin-left: 180x;
    border-radius: 20px 20px 20px 20px;
}

form {
    width: 240px;
    text-align: center;
}

input {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=submit] {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 5px 5px 5px 5px;
}

input[type=submit]:hover {
    border: 2px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.308);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    color: lime;
}

h2 {
    color: white;
}

a {
    color: yellow;
    text-decoration: blink;
}

a:hover {
    color: skyblue;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

::placeholder {
    color: aliceblue;
    opacity: 0.8;
}

.signup {
    background: #b5d6b2;
    padding: 40px;
    width: 240px;
    margin: auto;
    margin-top: 80px;
    height: 430px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 20px 20px 20px 20px;
}