/* general */

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #e9ebee;
}

header {
    background-color: #394a59;
}

h1 {
    text-align: center;
}

a {
    color: #394a59;
}

small {
    color: black;
}

ul {
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
}


/*colors*/

.bbb {
    background-color: #394a59;
}

.bb {
    background-color: #f5f6f7;
}

.wb {
    background-color: #F2F3F5;
}

.ww {
    background-color: white;
}

.bfb {
    background-color: #e9ebee;
}

.bbt {
    color: #394a59;
}

.wt {
    color: #fdfefd;
}

.bct {
    color: #fffacc;
}

.bft {
    color: #e9ebee;
}

.noBorder {
    border: none;
}


/* fonts */

.fs-2 {
    font-size: 2rem;
}

.amatic {
    font-family: Amatic SC;
}


/* text and object align */

.lh-3 {
    line-height: 3;
}

.valid-btn {
    width: 15%;
    height: 30%;
    font-weight: bold;
    border: none;
}

.aligncenter {
    display: flex;
    align-items: center;
}

.justifycenter {
    display: flex;
    justify-content: space-between;
}


/*ids*/

#leftTopBar {
    background-color: #394a59;
    color: #e9ebee;
    display: flex;
    padding-left: 15px;
    align-content: center;
}

#leftTopBar h1 {
    text-align: center;
    font-family: Amatic SC;
    font-weight: bold;
    margin-bottom: 0;
}

#BACKTOPBAR {
    color: #e9ebee;
}

#TOPBARLIST {
    vertical-align: middle;
    align-items: center;
}

#logo {
    height: 40px;
    width: 40px;
}

#FULLPAGE {}

#LEFTBAR {}

#MIDDLE {
    width: 68%;
}

#POSTTOPTEXT {
    font-weight: bold;
}

#PUBLISHER {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

#usersOnline {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0 !important;
}

#BUTTONPUB {
    height: 40px !important;
    width: 40px !important;
}

#TIMELINE {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

#usersList {
    min-height: 50%;
    padding-top: 15px;
}

.fullpost {
    align-content: center;
    width: 100%;
    margin: 10px;
    border: 1px #d3d3d3 solid;
    border-radius: 10px;
}

.postcontent {
    font-size: 1.5rem;
    color: #394a59;
}

.post-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*	MESSAGERIE: ;*/

#FULLMESSAGEFEED {
    width: 68%;
}


/* classes */

.sidebar {
    padding-left: 1%;
    padding-right: 1%;
}

.sidebarlink {
    width: 70px;
}

.sidebarlink :hover {
    color: #434DFF;
    cursor: pointer;
    -webkit-transition: color 0.1s ease-out;
    -moz-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}

.hiddenwithouthover {
    display: none;
}

.hiddenwithouthover .button:hover {
    display: contents;
}

.imgplustext {
    display: inline;
}

.pponlist {
    margin: 0px 10px 0px 0px;
}

.spacer {
    padding-top: 80px;
}

.lilspacer {
    padding-top: 15px;
}

.void {}

.inscriptionitem {}

#INSCRIPTIONCENTER {
    background-color: #e9ebee;
    color: #394a59;
    border-radius: 40px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.likepost {
    display: flex;
}


/* combined */

#usersOnline ul {
    background-color: #e9ebee;
    list-style-type: none;
    padding: 0;
}

#usersOnline p {
    font-weight: bold;
}

#usersList li {
    padding: 20px 0;
}


/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */


/*---------------
page connexion
---------------*/

.centerFormItem {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.form-fields {
    width: 20vw;
}

#connexion {
    width: 10vw;
}

.center-text {
    text-align: center;
    align-items: center;
}